<%-include('header.ejs',{title:'home'}) %>
<body class="home-page">
	<div class="body-wrapper">
		<div class="grid-x ">
			<div class="cell large-4 large-offset-2">
			<img class="logo" src="/images/fp-logo.png" />
			</div>
			<div class="cell large-4">
			<p class="text"> Welcome to the Fork Point Marketplace, where you will find everything you need! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque lacinia dui, vitae vehicula nibh egestas ut. In blandit gravida ipsum, in aliquet metus sodales ut. Donec condimentum elit rhoncus, imperdiet nunc nec, maximus nulla. Nulla efficitur arcu eu nibh fringilla commodo. Aliquam eu nisi a dolor facilisis dictum vel et diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque id eleifend risus. Nullam quam eros, varius vel felis quis, euismod ultricies nulla. Praesent egestas ac eros in pretium. Proin ullamcorper blandit lectus sit amet accumsan. Vivamus in nunc at justo porttitor aliquet. Donec ut sapien eget augue dictum pretium eu ut velit.</p>
			</div>
		</div>
	</div>
</body>

<%- include footer.ejs %>