.bodyCategory{
    margin: 0 10% 0 10%;
    max-width: 80rem;

    p{
        padding-top: 1.5rem;
    }

    .button{
        border-radius: 2.5rem;
    }
    
    ol li {
    list-style-type: none;
    }
}