.bodyCategory{
    margin: 0 10% 0 10%;
    max-width: 80rem;
    font-size: 1.7rem;

    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    p{
        padding-top: 1.5rem;
    }

    .button{
        border-radius: 2.5rem;
        font-size: 1.7rem;
    }
    
    ol li {
    list-style-type: none;
    }
    
}