.bodyCategory{
    margin: 0 10% 0 10%;
    max-width: 800px;

    p{
        padding-top: 15px;
    }

    .button{
        border-radius: 25px;
    }
    
    ol li {
    list-style-type: none;
    }
}