.home-page{
    background:url("/images/home-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text{
    padding-top:40rem;
    color:aliceblue;
}
.logo{
    padding-top: 30rem;
}