.container{
    font-family: 'Montserrat';
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10rem;
    gap:1rem;

    .carousel{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height:36rem;
        .selectorButtons{
            font-size: 3rem;
            text-align: center;
            .selectorImages{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                max-width: 5rem;
                max-height: 36rem; 
                border: 1px solid white;
                overflow-y: auto;
                
                .active{
                    border: 1px solid red;
                }
                .image{
                    cursor: pointer;
                }
            }
        }
        .selectedImage{
            .mainImage{
                max-width: 33rem;
                max-height: 36rem;
            }
        }
    }
    
    .mainContent{
        max-width: 35rem;
    
        .productHeader{
            .itemNumber{
                font-size: 1.4rem;
                color:#888888;
            }
            .productName{
                font-size: 3rem;
                font-weight: bolder;
                color:#333333;
            }
            .PriceAndCurrency{
                display: flex;
                flex-direction: row;
                gap: 2rem;
                align-items: center;
                .productPrice{
                    font-size: 3rem;
                    color:#888888;
                }
                .chooseCurrency{
                    font-size: 1.5rem;
                    color:#888888;
                    text-align: center;
                    margin-bottom: 0px;
                    padding-bottom: 3px;
                    max-height: 7rem;
                    max-width: 8rem;
                }
            }
           
        }

        .colorVariations{
            margin-top: 2rem;
            font-size: 1.4rem;
            color:#333333;
            .color{
                display: flex;
                flex-direction: row;
                height: 2rem;
                width: 2rem;
                gap:1rem;
                margin-top: -1rem;
                border:1px solid #cbcbcb;
                .selected{
                    border:2px solid #e70026;
                }
            }
        }

        .sizeNumber{
            margin-top: 2rem;
            font-size: 1.4rem;
            color:#333333;
            .sizes{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                font-size: 1.4rem;
                gap:1rem;
            }
            button{
                border:2px solid white;
                border-bottom: 5px solid white;
            }
        
            .selected{
                border:2px solid #e70026;
                border-bottom: 5px solid #e70026;
            }
        }
        
        .quantity{
            margin-top: 2rem;
            font-size: 1.4rem;
            color:#333333;
            padding-left: 1rem;
            
            .row{
                display: flex;
                flex-direction: row;
                gap:5rem;

                .buttons{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #cbcbcb;
                    background-color:white;
                    height: 3rem;
                    width: 9rem;
                    .minus{
                        width: 2.5rem;
                    }
                    .input {
                        text-align: center;
                        width: 4rem;
                        border: white;
                        border-left: 1px solid #cbcbcb;
                        border-right: 1px solid #cbcbcb;
                        pointer-events: none; //so you cannot manually put numbers in
                    }
                    .plus{
                        width: 2.5rem;
                    }
                }
                .cart{
                    background-color: #e70026 ; 
                    width:18rem;
                    height: 3rem;
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    button{
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: white;
                    }
                }
            }
    }

    .socials{
        p{
            font-size: 1.4rem;
            color: #333333;
            font-weight: bold;
            margin-bottom: 0;
        }
        .share{
            display: flex;
            flex-direction: row;

            .images{
                display: flex;
                flex-direction: row;
                max-height: 2.2rem;
                max-width: 2.2rem;
                gap:0.2rem;
                margin-right: 6rem;
            }
            .wishlist{
                display: flex;
                flex-direction: row;
                margin-left: 6rem;

                img{
                    max-height: 2.2rem;
                    max-width: 2.2rem;
                }
                div{
                    margin-left: 0.5rem;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color:#888888;
                }
            }
        }
    }
}
    .descriptionField{
        font-size: 3rem;
        color:#333333;
        font-weight: bold;
        .descriptions{
            display: flex;
            flex-direction: row;
            font-size: 1.4rem;
            color:#333333;
            gap:1rem;
            .shortDescr{
                max-width: 35rem;
            }
            .longDescr{
                max-width: 35rem;
                ul{
                    list-style-type: square;
                }
                li {
                    list-style-type: none;
                    position: relative;
                }
                li::before {
                    content: '■';
                    position: absolute;
                    left: -1.5rem;
                    font-size: 1.5rem;
                    color: #cbcbcb;
                }
            }
        }
    }
}