.productCardContainer{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10rem;
    gap:1.5rem;
   
    
    .productCard{
        border:2px solid white;
        padding: 0;
        position: relative;
        flex-basis: 30rem;
        max-width: 30rem;
        min-width: 30rem;
        width: 30rem;
        
        &:hover{
            border:2px solid black;
        }
       
        .content{
            padding-left: 1.5rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            text-align: left;
            column-gap: 1rem;
        }
    
        .color_variations{
            display: flex;
            flex-direction: row;
            height: 2rem;
            width: 2rem;
            gap:1rem;
            margin-top: 1rem;
        }
    
        .name{
            margin-top: 0.8rem;
            font-size:1.5rem;
            text-align: left;
            text-transform: uppercase;
        }
        .image{
            text-align: center;
            width: 100%;
        }
        .price{
            padding-left: 1.5rem;
            color: #a6a6a6;
        }
        .ribbon{
            width:15rem;
            height:15rem;
            position:absolute;
            top: 0;
            right: 0;
            overflow:hidden;
            span{
                width:22.5rem;
                display:block;
                position: absolute;
                top:3rem;
                left: -2.5rem;
                background-color: red;
                padding:1.5rem 0;
                transform: rotate(45deg);
                text-align: center;
                color: #fff 
            }
        }
       
    }
}